@use './index' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-lato;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  margin: 0;
  padding: 0;
  background-color: $color-white;
}
